.settings-general-body {
    background-color: white;
    width: 100%;
    height: calc(100vh - 64px);
    /* Subtracting any top bar or header height */
    overflow: auto;
}



.settings-general-allcontent {
    /* width: 100%; */
    background-color: rgba(255, 255, 255, 1);
    margin-left: 65px;
    margin-right: 30px;
    box-shadow: -5px -10px 10px 0px rgba(195, 216, 247, 0.25), 10px 10px 10px 0px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    border-radius: 30px;
}

/* first part */

.settings-genaral-columnone {
    /* width: 100%; */
    margin-left: 40px;
    padding-top: 30px;
}

/* .settings-general-heading-text {
    font-size: 16px;
    
    color: rgba(0, 0, 0, 0.5);
    background: transparent;
    border: none;

} */

.settings-general-address-readonly-text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.settings-general-paragraph-text {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    /* margin-left: 8%;
     */
}

.settings-general-image-preview {
    width: 60px;
    /* Adjust width as needed */
    height: 60px;
    /* Adjust height as needed */
    border-radius: 50%;
    /* margin-top: 5px; */
    /* color:rgba(0, 0, 0, 0.5) ; */
}

.settings-general-image-button {
    height: 30px;
    /* width: 40%; */
    color: white;
    border: none;
    background-color: rgba(22, 68, 229, 0.64);
    margin-left: 5%;
    border-radius: 5px;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

.settings-general-heading-text {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    background: transparent;
    border: none;
    margin-top: 40px;
    margin-bottom: 10px;

}

.settings-general-heading-name {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    background: transparent;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
}

.settings-general-heading-company {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    background: transparent;
    border: none;
    margin-top: 0px;
    margin-bottom: 15px;
}

.settings-general-company-details {
    background-color: transparent;
    border: none;
    margin-left: 16%;
    margin-top: 5px;
    font-size: 14px;
    flex-grow: 1;
    outline: none;
    color: rgba(0, 0, 0, 0.5);
}


.settings-general-company-details-edit {
    background-color: transparent;
    border: 2px solid rgba(217, 217, 217, 1);
    color: rgba(0, 0, 0, 0.5);
    margin-left: 16%;
    margin-top: 5px;
    font-size: 14px;
    outline: none;
    width: 130px;
    padding: 3px;
}

.settings-general-company-details-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: -10px;
    margin-top: 5px;
}

.settings-general-company-details-icon {
    margin-right: -50px;
    margin-top: 5px;
}


.settings-general-company-details1 {
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 16%;
    margin-top: -5px;
    font-size: 14px;
    flex-grow: 1;
    color: rgba(0, 0, 0, 0.5);
}

.settings-general-company-details-edit {
    background-color: transparent;
    border: 2px solid rgba(217, 217, 217, 1);
    color: rgba(0, 0, 0, 0.5);
    margin-left: 16%;
    margin-top: 5px;
    font-size: 14px;
    outline: none;
    width: 130px;
    padding: 3px;
}

.settings-general-company-details-icon1 {
    margin-right: -50px;
    margin-top: -5px;
}

.settings-general-heading-address {
    font-size: 16px;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    margin-bottom: 10px;
    outline: none;
}


.settings-general-heading-address-edit {
    font-size: 16px;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.5);
    outline: none;
    width: 150px;
    text-align: center;
    border: 2px solid rgba(217, 217, 217, 1);
    margin-top: -10%;
    padding: 1px;
}

.settings-general-modify-button {
    margin-top: 30px;
    height: 35px;
    /* width: 40%; */
    background-color: rgba(255, 165, 0, 0.7);
    color: white;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.settings-general-crossline {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(217, 217, 217, 1);
}

/* secound part  */


.settings-genaral-columntwo {
    /* width: 36%; */
    padding-top: 30px;
}


.settings-general-radiobutton {
    position: relative;
}

.settings-local-crossline {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(217, 217, 217, 1);
}

.settings-general-local-text {
    margin-left: 50px;
    font-size: 16px;
    margin-top: 5%;
    color: rgba(0, 0, 0, 0.5);
}

.settings-general-textsize {
    font-size: 16px;
    margin-right: 50px;
    margin-top: -10px;
    color: rgba(0, 0, 0, 0.5);
    text-wrap: nowrap;
}

.settings-general-space-text {
    margin-top: 5px;
    margin-bottom: 10px;
}


.settings-general-input-container {
    display: flex;
    /* align-items: center; */
    border: none;
}





.settings-general-label-daily {
    margin-right: 10px;
}

.settings-general-toggle-daily {
    margin-top: -15px !important;
    margin-left: 70px !important;
}

.settings-general-toggle-daily:checked {
    margin-top: -15px !important;
    margin-left: 70px !important;
    background-color: rgba(120, 125, 189, 1) !important;
}

.settings-general-toggle-daily-edit {
    margin-top: -15px !important;
    margin-left: 70px !important;
    cursor: pointer;
}

.settings-general-toggle-daily-edit:checked {
    margin-top: -15px !important;
    margin-left: 70px !important;
    background-color: rgba(120, 125, 189, 1) !important;
}


.settings-general-local-overtime {
    margin-top: -15px !important;
}


.settings-general-label-overtime {
    margin-right: 10px;
}

.settings-general-toggle-overtime {
    margin-top: -15px !important;
    margin-left: 115px !important;
}

.settings-general-toggle-overtime:checked {
    margin-top: -15px !important;
    margin-left: 115px !important;
    background-color: rgba(120, 125, 189, 1);
}

.settings-general-toggle-overtime-edit {
    margin-top: -15px !important;
    margin-left: 115px !important;
    cursor: pointer;
}

.settings-general-toggle-overtime-edit:checked {
    margin-top: -15px !important;
    margin-left: 115px !important;
    background-color: rgba(120, 125, 189, 1);
}



.settings-general-local-weeklyovertime {
    margin-top: -45px;
}

.settings-general-label-weeklyovertime {
    text-wrap: nowrap;
    margin-right: 10px;
    margin-bottom: 2px;
}

.settings-general-toggle-weeklyovertime {
    margin-top: -16px !important;
    margin-left: 85px !important;
}

.settings-general-toggle-weeklyovertime:checked {
    margin-top: -15px !important;
    margin-left: 85px !important;
    background-color: rgba(120, 125, 189, 1);
}

.settings-general-toggle-weeklyovertime-edit {
    margin-top: -16px !important;
    margin-left: 85px !important;
    cursor: pointer;
}

.settings-general-toggle-weeklyovertime-edit:checked {
    margin-top: -15px !important;
    margin-left: 85px !important;
    background-color: rgba(120, 125, 189, 1);
}

.settings-general-local-restdayovertime {
    /* margin-top: -85px; */
    margin-left: 80px;
}

.settings-general-toggle-restdayovertime {
    margin-top: -23px !important;
    margin-left: 85px !important;
}

.settings-general-toggle-restdayovertime:checked {
    margin-top: -23px !important;
    margin-left: 85px !important;
    background-color: rgba(120, 125, 189, 1);
}

.settings-general-toggle-restdayovertime-edit {
    margin-top: -23px !important;
    margin-left: 85px !important;
    cursor: pointer;
}

.settings-general-toggle-restdayovertime-edit:checked {
    margin-top: -23px !important;
    margin-left: 85px !important;
    background-color: rgba(120, 125, 189, 1);
}



.settings-general-label-restdayovertime {
    text-wrap: nowrap;
    /* margin-bottom: -600px !important; */
}

.settings-general-label-publicovertime {
    text-wrap: nowrap;

}

.settings-general-label-overtime {
    text-wrap: nowrap;
}

.settings-general-local-publicovertime {
    margin-top: -10px;
    margin-left: 50px;
}

.settings-general-overtime {
    margin-top: -10px;
}

.settings-general-toggle-publicovertime {
    margin-top: -23px !important;
    margin-left: 65px !important;
}

.settings-general-toggle-publicovertime:checked {
    margin-top: -23px !important;
    margin-left: 65px !important;
    background-color: rgba(120, 125, 189, 1);

}

.settings-general-toggle-publicovertime-edit {
    margin-top: -23px !important;
    margin-left: 65px !important;
    cursor: pointer;
}

.settings-general-toggle-publicovertime-edit:checked {
    margin-top: -23px !important;
    margin-left: 65px !important;
    background-color: rgba(120, 125, 189, 1);
}

.settings-general-label {
    margin-right: 10px;
    font-size: 14px;
    color: solid rgba(0, 0, 0, 0.5);
    text-wrap: nowrap;
}





.settings-general-label-time-edit {
    margin-right: 10px;
    font-size: 14px;
    color: solid rgba(0, 0, 0, 0.5);
}

.settings-general-label-edit {
    margin-right: 10px;
    font-size: 16px;
    color: solid rgba(0, 0, 0, 0.5);
}

.settings-general-input-time-edit {
    border: 2px solid rgba(217, 217, 217, 1);
    outline: none;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: -5px;
    width: 170px;
    border-radius: 3px;
    margin-left: 5px;
    padding: 3px;
}


.settings-general-input-format-edit {
    border: 2px solid rgba(217, 217, 217, 1);
    outline: none;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: -5px;
    width: 155px;
    border-radius: 3px;
    margin-left: 5px;
    padding: 3px;
}

.settings-general-input {
    background: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: -5px;
}


.settings-general-input-edit {
    background: transparent;
    outline: none;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    
    padding: 3px;
    border: 2px solid rgba(217, 217, 217, 1);
    width: 130px;
    border-radius: 3px;

    text-wrap: nowrap;
}

.settings-general-input-week-edit {
    outline: none;
    border-radius: 3px;
    border: 2px solid rgba(217, 217, 217, 1);
    color: rgba(0, 0, 0, 0.5);
    width: 180px;
    padding-left: 3px;
}


.settings-general-input-work-edit {
    outline: none;
    border-radius: 3px;
    border: 2px solid rgba(217, 217, 217, 1);
    color: rgba(0, 0, 0, 0.5);
    width: 65px;
    padding-left: 3px;
}

.settings-general-input-workweek-edit {
    outline: none;
    border-radius: 3px;
    border: 2px solid rgba(217, 217, 217, 1);
    width: 180px;
    color: rgba(0, 0, 0, 0.5);
    padding: 1px;
}

.settings-general-project-input-billabelrate-edit {
    outline: none;
    border-radius: 3px;
    border: 2px solid rgba(217, 217, 217, 1);
    width: 140px;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.5);
    padding: 2px;

}

.settings-general-project-input-languager-edit {
    outline: none;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
    border-radius: 3px;
    border: 2px solid rgba(217, 217, 217, 1);
    width: 150px;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 3px;

}

.settings-general-input-date-edit {
    background: transparent;
    border-radius: 3px;
    outline: none;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(217, 217, 217, 1);
    margin-left: 6px;
    padding-left: 3px;
    width: 170px;
}

.settings-general-space-timezone {
    margin-top: 5px;
    margin-bottom: 10px;
    text-wrap: nowrap;
}


.settings-general-space-timeformat {
    margin-top: 10px;
    margin-bottom: 10px;
}

.settings-general-space-dateformat {
    margin-top: 10px;
    margin-bottom: 10px;
}

.settings-general-space-workday {
    margin-top: 15px;
    margin-bottom: 10px;
}

.settings-general-space-workweek {
    margin-top: 10px;
    margin-bottom: 10px;
}

.settings-general-space-overtime {
    font-size: 13px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-bottom: 8px !important;
}



.setthings-general-toggle-leftside-button {
    font: bold;
    /* margin-top: -40%; */
    margin-left: 50%;
    padding: 10px;
}


.settings-general-toggle-label {

    margin-right: 3px;
    /* Adjust spacing between label and toggle */
}


.setthings-general-toggle-leftside-button {
    font: bold;
    margin-top: -24%;
    margin-left: 50%;
    padding: 10px;
}


.settings-genaral-columnthree {
    /* width: 32%; */
    margin-left: 50px;
    margin-top: 30px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    padding-bottom: 30px;
    position: relative;
}

.settings-general-project-text {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    text-wrap: nowrap;
}



.settings-general-project-input-billable {
    margin-left: 10px;

}


.settings-general-project-label-billable {
    margin-left: 30px;
    margin-top: -20px;
    font-size: 14px;
}

.settings-general-project-toggle-billable {
    margin-top: 4px;
    margin-left: 3px;
}

.settings-general-project-toggle-billable-edit {
    margin-top: 4px;
    margin-left: 3px;
    cursor: pointer;
}


.Settings-general-timeout-text {

    margin-left: -1px !important;
    margin-top: 3px;
    color: rgba(0, 0, 0, 0.5);
}

.Settings-general-timeout-text-edit {
    margin-left: 5px !important;
    margin-top: 3px;
    color: rgba(0, 0, 0, 0.5);
}

.settings-general-project-toggle-billable:checked {
    margin-top: 4px;
    margin-left: 3px;
    background-color: rgba(120, 125, 189, 1);
}

.settings-general-project-toggle-billable-edit:checked {
    margin-top: 4px;
    margin-left: 3px;
    background-color: rgba(120, 125, 189, 1);
}


.settings-general-project-input-non-billable {
    margin-left: 120px;
    margin-top: -30px;
}

.settings-general-project-toggle-non-billable {
    margin-top: 10px;
    margin-left: 10px;
}

.settings-general-project-toggle-non-billable:checked {
    margin-top: 10px;
    margin-left: 10px;
    background-color: rgba(120, 125, 189, 1);
}

.settings-general-project-toggle-non-billable-edit {
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.settings-general-project-toggle-non-billable-edit:checked {
    margin-top: 10px;
    margin-left: 10px;
    background-color: rgba(120, 125, 189, 1);
}

.settings-general-project-label-non-billable {
    margin-left: 40px;
    margin-top: 7px;
    font-size: 14px;
    text-wrap: nowrap;
}


.settings-general-project-billabelrate {
    padding-top: 20px;
}

.settings-general-project-label-billabelrate {
    text-wrap: nowrap;
    font-size: 14px;
}

.settings-general-project-input-billabelrate {
    display: block;
    font-size: 14px;
    border: none;
    outline: none;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.5);
}


.settings-general-project-label-currency {
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 15px;
}

.settings-general-project-label-languager {
    font-size: 14px;
    margin-top: 10px;

}

.settings-general-project-input-languager {
    border: none;
    outline: none;
    margin-left: 15px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}

.settings-general-project-input-currency {
    border: none;
    outline: none;
    margin-left: 10px;
    margin-top: 13px;
}

.settings-general-project-input-currency-edit {
    outline: none;
    margin-left: 10px;
    border-radius: 3px;
    border: 2px solid rgba(217, 217, 217, 1);
    width: 40px;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 3px;
    margin-top: 13px;
}



.settings-general-project-label-save {
    margin-top: -20px;
    font-size: 14px;
    text-wrap: nowrap;
}

.settings-general-project-toggle-save {
    margin-top: -17px;
    margin-left: 110px !important;
}

.settings-general-project-toggle-save:checked {
    margin-top: -17px;
    margin-left: 110px !important;
    background-color: rgba(120, 125, 189, 1);
}

.settings-general-project-toggle-save-edit {
    margin-top: -17px;
    margin-left: 110px !important;
    cursor: pointer;
}

.settings-general-project-toggle-save-edit:checked {
    margin-top: -17px;
    margin-left: 110px !important;
    background-color: rgba(120, 125, 189, 1);
}

.settings-general-project-label-timeout {
    font-size: 14px;
    text-wrap: nowrap;
}


.settings-general-project-timeout {
    margin-top: -15px;
    display: flex;
}

.settings-general-project-input-timeout {
    border: none;
    outline: none;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 40px;
}



.settings-general-project-input-timeout-edit {
    margin-left: 15px;
    margin-bottom: 12px;
    border-radius: 3px;
    border: 2px solid rgba(217, 217, 217, 1);
    width: 40px;
    padding-left: 3px;
}

.settings-general-project-tracking {
    margin-top: 5px;
}

.settings-general-project-toggle-tracking {
    margin-top: -23px;
    margin-left: 155px !important;
}

.settings-general-project-toggle-tracking:checked {
    margin-top: -23px;
    margin-left: 155px !important;
    background-color: rgba(120, 125, 189, 1);
}

.settings-general-project-toggle-tracking-edit {
    margin-top: -23px;
    margin-left: 155px !important;
    cursor: pointer;
}

.settings-general-project-toggle-tracking-edit:checked {
    margin-top: -23px;
    margin-left: 155px !important;
    background-color: rgba(120, 125, 189, 1);
}


.settings-general-project-label-tracking {
    text-wrap: nowrap;
    margin-top: -15px;

}

.settings-general-project-label-costrate {
    font-size: 14px;
    text-wrap: nowrap;
}


.settings-general-project-costrate {
    margin-top: -20px;
}

.settings-general-project-toggle-costrate {
    margin-top: -24px;
    margin-left: 110px !important;
}

.settings-general-project-toggle-costrate:checked {
    margin-top: -24px;
    margin-left: 110px !important;
    background-color: rgba(120, 125, 189, 1);
}

.settings-general-project-toggle-costrate-edit {
    margin-top: -24px;
    margin-left: 110px !important;
    cursor: pointer;
}

.settings-general-project-toggle-costrate-edit:checked {
    margin-top: -24px;
    margin-left: 110px !important;
    background-color: rgba(120, 125, 189, 1);
}

.settings-general-project-Workspace {
    margin-top: -15px;
}

.settings-general-project-input-Workspace {
    border: none;
    outline: none;
    margin-left: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.settings-general-project-input-Workspace-edit {
    margin-left: 20px;
    border-radius: 3px;
    border: 2px solid rgba(217, 217, 217, 1);
    width: 40px;
    color: rgba(0, 0, 0, 0.5);
    padding: 2px;
}

.settings-general-project-label-Workspace {
    margin-top: -15px;
    font-size: 14px;
    text-wrap: nowrap;
}

.settings-general-project-screensheet {
    margin-top: -5px;
}

.settings-general-project-label-screensheet {
    font-size: 14px;
    margin-top: -20px;
    text-wrap: nowrap;

}

.settings-general-project-input-screensheet {
    margin-top: 2px;
}

.settings-general-project-toggle-screensheet {
    margin-top: -23px;
    margin-left: 130px !important;
}

.settings-general-project-toggle-screensheet:checked {
    margin-top: -23px;
    margin-left: 130px !important;
    background-color: rgba(120, 125, 189, 1);
}

.settings-general-project-toggle-screensheet-edit {
    margin-top: -23px;
    margin-left: 130px !important;
    cursor: pointer;
}

.settings-general-project-toggle-screensheet-edit:checked {
    margin-top: -23px;
    margin-left: 130px !important;
    background-color: rgba(120, 125, 189, 1);
}


.settings-general-project-screensheet-text {
    margin-top: -35px;
    font-size: 10px;
    position: relative;
}


.settings-general-save-button {

    background-color: rgba(22, 68, 229, 0.64);
    color: white;
    height: 35px;
    width: 70px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 28px;
}

.settings-general-close-button {
    margin-left: 15px;
    background-color: rgba(255, 127, 127, 1);
    color: white;
    height: 35px;
    width: 70px;
    border: none;
    border-radius: 5px;
}