
/* .back-button-icon-timesheet-i{
    font-size: 24px;
    color: #787DBD;
} */
.back-button-icon-timesheet-icon{
    margin-top: 2px;
}
.back-button-icon-timesheet-p{
    padding-left: 10px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.50);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.employee-week-details{
    /* border-radius: 50px; */
    background: rgba(243, 243, 243, 0.50);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25), -10px -10px 20px 0px #FFF;
    border-radius: 25px;
    margin-left: 15px;
    margin-right: 15px;
    
    
}
.employee-name-timesheet-week{
    margin-left: 20px;
}
.employee-name-timesheet-week-label,
.employee-ID-timesheet-week-label,
.employee-status-timesheet-week-label,
.employee-current-date-timesheet-week-label,
.employee-select-week-timesheet-calendar-label{
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 10px;
}
.employee-reported-hours-timesheet-week-label{
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.employee-name-timesheet-week-box-input,
.employee-ID-timesheet-week-box-input{
    width: 180px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px var(--drop_shadow, rgba(0, 0, 0, 0.25));
    color:  rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
    padding-top: 11px;
    padding-bottom: 11px;

}
.employee-status-timesheet-week-box-input{
    width: 160px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px var(--drop_shadow, rgba(0, 0, 0, 0.25));
    color:  rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
    padding-top: 11px;
    padding-bottom: 11px;
}
.employee-current-date-timesheet-week-box-input{
    width: 205px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px var(--drop_shadow, rgba(0, 0, 0, 0.25));
    color:  rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
    padding-top: 11px;
    padding-bottom: 11px;
}
.employee-current-date-timesheet-week-box-input-icon{
    margin-top: -3px;
}
.employee-select-week-timesheet-calendar-box-input{
    width: 220px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px var(--drop_shadow, rgba(0, 0, 0, 0.25));
    color:  rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 10px;
    padding-top: 11px;
    padding-bottom: 11px;
    
}
.employee-reported-hours-timesheet-week-box-input{
    text-align: center;
    color: rgba(0, 0, 0, 0.50);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.timesheet-week-calendar-wrapper-date-picker{
    text-align: center;
    font-size: 12px;
    border: none;
    font-weight: bold;
  }
.custom-date-picker-input-icon{
    margin-top: -3px;
}
.employee-details-week-timesheet-heading{
    /* padding: 20px; */
    padding-top: 15px;
    padding-left: 25px;
}
.employee-details-week-timesheet-heading-p{
    color: rgba(0, 0, 0, 0.50);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #FFF;
    /* border-radius: 15px;  */
    overflow: hidden;
}
.table-responsive {
    overflow-x: auto;
  }
 /* .table td {
    padding: 1px;
    
} */
.employee-add-entries-details-week-timesheet{
    margin: 15px;
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
}
.custom-table-header-week-timesheet-entries-project,
.custom-table-header-week-timesheet-entries-projectid{
    background-color: #787DBD !important; 
    /* width: 60px; */
    text-align: center;
    align-items: center;
    background-color: #787DBD !important; 
    color: white !important; 
    white-space: nowrap;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    font-size: 14px;
    text-align: start;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.custom-table-header-week-timesheet-entries{
    background-color: #787DBD !important; 
    /* width: 60px; */
    text-align: center;
    align-items: center;
    background-color: #787DBD !important; 
    color: white !important; 
    white-space: nowrap;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    font-size: 14px;
    text-align: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.custom-table-body-week-timesheet-entries{
    text-decoration: none !important;
    background-color: #EEECEC !important;
    border: none !important;
}
.timesheet-add-hours-box-label{
    width: 60px;
    text-align: center;
    
}
.timesheet-weekly-select-project,
.timesheet-weekly-select-project-description{
    text-align: start;
    padding-top: 20px;
    padding-left: 15px;
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    width: 180px;
}

.timesheet-weekly-add-hours-box-show{
    height: 45px;
    width: 40px;
    margin-left: 23px;
    border: none;
    text-align: center;
    background-color: #EEECEC;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.50);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    outline: none;

}
.timesheet-weekly-add-hours-box-show::-webkit-inner-spin-button,
.timesheet-weekly-add-hours-box-show::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.timesheet-weekly-add-new-work-hours-icon-display-delete-icon{
    margin-top: -13px;
    cursor: pointer;
}

.timesheet-weekly-add-total-hours-box-show{
    height: 45px;
    border: none;
    text-align: end;
    background-color: #EEECEC;
    color: rgba(0, 0, 0, 0.50);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 40px;
    outline: none;
    /* padding-left: 25px; */
}
.timesheet-week-regular-hours-calculation,
.timesheet-week-overtime-hours-calculation,
.timesheet-week-total-hours-calculation{
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding-right: 12px;
    /* padding-left: 5px; */
    
}
.timesheet-week-regular-hours-calculation-final,
.timesheet-week-overtime-hours-calculation-final,
.timesheet-week-total-hours-calculation-final{
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding-right: 40px;
}

/* .custom-table thead th {
    background-color: #787DBD !important; 
    color: white !important; 
    white-space: nowrap;
    padding: 20px ;
    font-size: 14px;
    text-align: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} */

.copy-last-week-activity-p{
    color:  rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}
/* .copy-last-week-activity-select-option{

    position: relative;
}
.copy-last-week-activity-select-option-form::-ms-expand {
    display: none;
} */



.copy-last-week-activity-select-option-form{
    color:  rgba(0, 0, 0, 0.50);
    width: 220px;
    height: 35px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    /* background: var(--inner_bg, rgba(243, 243, 243, 0.50)); */
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
    line-height: normal;
    background-image: url("data:image/svg+xml,%3Csvg xmlns:i='&amp;ns_ai;' fill='gray' xmlns='http://www.w3.org/2000/svg' version='1.2' viewBox='-300 302 16 16' xml:space='preserve'%3E%3Cswitch%3E%3Cg i:extraneous='self'%3E%3Cpath d='M-296.49 308.5h9l-4.51 4.99-4.49-4.99z'/%3E%3C/g%3E%3C/switch%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 20px;   

}
.copy-last-week-activity-save-button{
    width: 130px;
    height: 60px; 
    border-radius: 10px;
    background: #FFF;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25) inset;

}
.copy-last-week-activity-save-button-and-icon{
    height: 40px;
    width: 110px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25), -1px -1px 4px 0px rgba(255, 255, 255, 0.25);
}
.copy-last-week-activity-save-button-div{
    /* background-color: transparent; */
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    
}
.timesheet-weekly-button-submit{
    width: 100px;
    height: 40px;
    flex-shrink: 0;
    /* background: #38BA7C !important; */
    margin-right: 30px;
    border: 1px solid #38BA7C;
    /* opacity: 0.5; */
}
.timesheet-weekly-button-submit-div{
    color: #38BA7C;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
    border-radius: 5px;
}
.timesheet-weekly-button-save{
    width: 100px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #787DBD;
    margin-right: 30px;
    /* opacity: 0.5; */
}
.timesheet-weekly-button-save-div{
    color: #787DBD;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.timesheet-weekly-button-reset{
    width: 100px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #FF7F7F;
    
}
.timesheet-weekly-button-reset-div{
    color: #FF7F7F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* .timesheet-weekly-button-submit:focus, 
.timesheet-weekly-button-save:focus,
.timesheet-weekly-button-reset:focus{
        background: #787DBD !important;
        color: #ffffff; 
} */
.timesheet-weekly-submit-save-cancel-button{
    margin-right: 25px;
}
.empty-space-color-table{
    height: 30px;
    background-color: #EEECEC !important;  
}
.white-space-timesheet{

    height: 40px;
    width: 100%;
    background-color: transparent;
}


.modal-dialog-weeklyTimesheet {
    margin: 25% ;
    position: absolute;
}
.timesheet-weekly-select-project-model{
    width: 400px;
    border-radius: 10px;
    background-color: #EEECEC;
    /* box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25), -5px -5px 10px 0px rgba(255, 255, 255, 0.25); */

}
.timesheet-week-select-project-id-display-label{
    color: black;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.timesheet-weekly-select-project-model-title{
    color: rgba(0, 0, 0, 0.50);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.timesheet-weekly-select-project-model-body-value{
    color: rgba(0, 0, 0, 0.50);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.timesheet-weekly-comment-text-model{
    width: 400px;
    border-radius: 10px;
    background-color: #EEECEC;
}
.timesheet-weekly-comment-text-model-title{
    color: rgba(0, 0, 0, 0.50);
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}
.timesheet-weekly-comment-textarea-name{
    font-size: 16px;
    background-color: #EEECEC;
}

.timesheet-weekly-pay-type-select{
    margin-top: 14px;
    height: 30px; 
    text-align: center;
    width: 60px;
    font-size: 13px;
    background-color: #787DBD;
    color: #FFF;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    padding-right: 30px;
    /* background: blue url('arrow.svg') no-repeat right; */
    background-image: url("data:image/svg+xml,%3Csvg data-name='Layer 1' fill='white' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M3.81 4.38 8 8.57l4.19-4.19 1.52 1.53L8 11.62 2.29 5.91l1.52-1.53z'/%3E%3C/svg%3E");
}

.container {
    width: 100% !important;
    max-width: 100% !important;
}

.search-project{
    align-items: end !important;
    /* margin-bottom: 40px !important; */
    margin-left: 200px;
    margin-top: 10px;

}

.search-weekly{
    margin-top: -70px;
}



/* .timesheet-weekly-pay-type-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 30px; 
} */

/* .timesheet-weekly-pay-type-select-custom-dropdown .timesheet-weekly-pay-type-select-custom-dropdown-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    pointer-events: none;
} */