@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.reset-login {
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 50px;
    margin-bottom: 30px;

}


.reset-input-icons .reset-ia {
    position: absolute;
    padding: 11px;
    padding-left: 25px;
    text-align: center;
}

.reset-input-field {
    width: 80%;
    height: 50px;
    padding: 10px;
    text-align: 10px;
    padding-left: 50px;
    border: 100px;
    background-color: #F3F3F3;
}


.reset-input-icon1 {
    color: #4a4545;
}

.reset-input-icon2 {
    font-size: large;
    margin-top: 5px;
}

.reset-inputbox1 {
    background-color: #787DBD;
    padding-left: 5px;
}

.reset-inputbox {
    background-color: #787DBD;
    padding-left: 5px;
    height: 50px;
}


.input2 {
    border: none;
    outline: 0;
}

.reset-header {
    margin-top: 90px;
    color: #787DBD;
    font-weight: bold;
}

.reset-center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.reset-text-color {
    color: #636060;
}

.reset-form {
    margin-left: 20%;
    margin-top: 50px;
}

.reset-button {
    margin-top: 50px;
    width: 80%;
    padding: 13px;
    background-color: #065399;
    color: white;
    font-weight: 500;
    font-size: 15px;
    margin-left: 3px;
}


.reset-forget {
    margin-top: 20px;
    margin-left: 80px;
    align-items: center;
    width: 35%;
}

.reset-con1 {
    box-shadow: 2px 0px 10px 0px;
    background-color: white;
    margin-left: 100px;
    margin-top: -15px;
    z-index: 1000;
}

.reset-con2 {
    margin-left: -10px;
    box-shadow: 2px 0px 10px 0px;
    margin-top: -15px;
  
    z-index: 1;
}

.reset-bg-firstbox {
    height: 660px;
    width: 180px;
    background-color: #263C51;
    transform: rotate(-47deg);
    margin-left: -180px;
    margin-top: -900px;
}

.reset-bg-secoundbox {
    height: 400px;
    width: 1000px;
    background-color: #787DBD;
    transform: rotate(43deg);
    margin-left: -510px;
    margin-top: -850px;
}

.reset-bg-bottom-first {
    height: 200px;
    width: 500px;
    background-color: #787DBD;
    transform: rotate(33deg);
    margin-top: 680px;
    margin-left: 890px;
}

.reset-bg-bottom-seound {
    height: 660px;
    width: 180px;
    background-color: #263C51;
    transform: rotate(-53deg);
    margin-top: -500px;
    margin-left: 1200px;
}
.form4 {
    margin-left: 20%;
    margin-top: 50px;
}

@media only screen and (min-width: 1600px) {

    .reset-bg-firstbox,
    .reset-bg-secoundbox,
    .reset-bg-bottom-first,
    .reset-bg-bottom-seound {
        display: none;
    }
}


.reset-image-text {
    position: absolute;
    top: 42%;
    left: 16%;
    transform: translate(-50%, -50%);
    color: #000;
    padding: 30px;
    border-radius: 5px;
    text-align: start;
    z-index: 1;
    color: white;
    font-size: 45px;

}

.reset-image-text1 {
    position: absolute;
    top: 52%;
    left: 20.5%;
    transform: translate(-50%, -50%);
    color: #000;
    padding: 30px;
    border-radius: 5px;
    text-align: start;
    z-index: 1;
    color: white;
    font-size: 35px;

}

.reset-image-container {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.reset-image-wrapper {
    position: relative;
    display: inline-block;
}

.reset-logo {
    position: absolute;
    top: 40px;
    right: 10px;
    width: 300px;
    height: 51px;
    display: inline-block;
    z-index: 1;

}